@using System.Threading.Tasks
@using bootcamp.Models
@model bootcamp.Models.Session
<div class="agenda-event">
    <b>@Model.Title</b><br>
    <div>@Model.Speaker</div>
    <div style="text-align: left;padding: 20px">@Model.Description</div>
</div>
