@model bootcamp.Models.LocationInfo
@{
    if (Model != null && Model.Location != null)
    {
        ViewBag.Location = Model.Location.Name;
    }

}

@section Menu{
    @if (Model != null && Model.Tracks != null)
    {
        <li>
            <a class="page-scroll" href="#agenda">Raspored</a>
        </li>
    }
    @if (Model != null && Model.Sponsors != null)
    {
        <li>
            <a class="page-scroll" href="#sponsors">Sponzori</a>
        </li>
    }
  
    @if (Model != null && Model.Social != null && Model.Organizers != null)
    {
        <li>
            <a class="page-scroll" href="#contact">Kontakt</a>
        </li>
    }

}



@if (Model != null && Model != null && Model.Tracks != null)
{
    @await Html.PartialAsync("_Agenda", Model.Tracks)
}
@if (Model != null && Model.Sponsors != null)
{
    @await Html.PartialAsync("_Sponsors", Model.Sponsors)
}

@if (Model != null && Model.Social != null && Model.Organizers != null)
{
    @await Html.PartialAsync("_Contact", Model)
}


